* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Segoe UI", sans-serif;
}
body {
  display: grid;
  place-items: center;
  background: #fbf4e8;
}

/* HEADER */

.header {
  background: #fbf4e8;
  border-bottom: 1px solid #eee;
}
.header-inner {
  max-width: 1200px;
  margin: auto;
  padding: 18px 20px;
  gap: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* LEFT MENU */
.nav {
  display: flex;
  gap: 35px;
  list-style: none;
}
.nav a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: 500;
}
/* LOGO */
.logo {
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 0.5px;
}
/* RIGHT MENU */
.right-nav {
  display: flex;
  align-items: center;
  gap: 35px;
}
.right-nav a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: 500;
}
/* BUTTON */
.btn {
  padding: 12px 14px;
  border-radius: 20px;
  border: none;
  background: #111;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
}

/* HERO */
.hero {
  text-align: center;
  padding: 90px 20px;
}

.hero h1 {
  font-size: 56px;
  line-height: 1.3;
  font-weight: 400;
}

.hero span {
  font-size: 65px;
  font-weight: 500;
}

.hero p {
  margin: 20px 0;
  color: #666;
}

.main-btn {
  padding: 14px 28px;
  border-radius: 25px;
  border: none;
  background: #111;
  color: #fff;
  font-size: 16px;
}

/* slider wrapper */
.slider {
  width: 900px;
  height: 260px;
  position: relative;
  margin-top: 80px;
  perspective: 1200px;
}

/* card base */
.cards {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 250px;
  transform-style: preserve-3d;
  transition: 0.6s ease;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.cards img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* positions */
.cards.center {
  height: 200px;
  transform: translate(-50%, -50%) translateZ(200px);
  z-index: 5;
}

.cards.left1 {
  height: 250px;
  transform: translate(-160%, -50%) rotateY(30deg);
  opacity: 0.9;
}

.cards.left2 {
  height: 300px;
  transform: translate(-260%, -50%) rotateY(45deg);
  opacity: 0.6;
}

.cards.right1 {
  transform: translate(60%, -50%) rotateY(-30deg);
  opacity: 0.9;
}

.cards.right2 {
  height: 300px;
  transform: translate(160%, -50%) rotateY(-45deg);
  opacity: 0.6;
}

.mini-features {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.mini-features h4 {
  font-size: 14px;
  margin-bottom: 4px;
}

.mini-features p {
  font-size: 13px;
  color: #666;
}

.everything {
  background: #fbf4e8;
  padding: 100px 0;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}
.heading {
  text-align: center;
  margin-bottom: 60px;
}
.heading h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.3;
}

.heading p {
  max-width: 620px;
  margin: 14px auto 0;
  color: #6b6b6b;
  font-size: 15px;
}

/* GRID */
.cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

/* COMMON CARD */
.card {
  border-radius: 20px;
  padding: 26px;
  position: relative;
  overflow: hidden;
  min-height: 230px;
}

/* CARD 1 */
.card-chat {
  grid-column: 1/2;
  background: #000;
}

.card-chat img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.85;
}

.card-chat .overlay {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
}

.card-chat h4 {
  font-size: 18px;
  margin-bottom: 6px;
}
/* CARD 2 */
.card-task {
  background: #efe7db;
}

.card-task h4 {
  font-size: 18px;
  margin-bottom: 8px;
}

.card-task p {
  font-size: 14px;
  color: #555;
}

/* CARD 3 */
.card-schedule {
  background: #d9cdbb;
}
.card-schedule h4 {
  font-size: 18px;
  margin-bottom: 8px;
}
.card-schedule p {
  font-size: 14px;
  color: #555;
}

/* CARD 4 */
.card-progress {
  background: #5f6f4f;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: #fff;
}
.card-progress img {
  height: 190px;
  border-radius: 14px;
}
.card-progress h4 {
  font-size: 18px;
  margin-bottom: 6px;
}
.card-progress p {
  font-size: 14px;
  opacity: 0.9;
}
